<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logoutModalLabel">Atenção Usuario ! <i
						class="link-danger fas fa-exclamation-triangle me-2"></i></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Tem certeza que deseja sair do sistema ? <br>
				Após clicar em "Sair" você será deslogado.
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">Sair</button>
			</div>
		</div>
	</div>
</div>