<!-- Depoimentos -->
<section>
    <div class="container py-lg-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 text-center">
                <h2 class="mb-4">Obtenha todas as atualizações aqui</h2>
                <p>Depoimentos de profissionais que utilizaram nossos produtos</p>
            </div>
        </div>

        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <img src="https://img.freepik.com/fotos-gratis/jovem-medico-bonito-em-uma-tunica-medica-com-estetoscopio_1303-17818.jpg?w=2000"
                        class="rounded-circle object-fit-cover" width="150" height="150" alt="">
                    <p class="fst-italic fs-3"><i class="fas fa-quote-left fa-2x"></i> Recentemente, tive a
                        oportunidade de utilizar um monitor
                        cardíaco portátil durante uma estadia no hospital. Fiquei extremamente impressionado com a
                        eficácia e a utilidade desse equipamento médico. <i class="fas fa-quote-right fa-2x"></i>
                    </p>
                    <p>12 de junho 2023</p>
                    <p><strong>Leticia Lima</strong></p>
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/fotos-gratis/jovem-medico-bonito-em-uma-tunica-medica-com-estetoscopio_1303-17818.jpg?w=2000"
                        class="rounded-circle object-fit-cover" width="150" height="150" alt="">
                    <p class="fst-italic fs-3"><i class="fas fa-quote-left fa-2x"></i> tive a oportunidade de
                        utilizar um monitor
                        cardíaco portátil durante uma estadia no hospital. Fiquei extremamente impressionado com a
                        eficácia e a utilidade desse equipamento médico. <i class="fas fa-quote-right fa-2x"></i>
                    </p>
                    <p>12 de junho 2023</p>
                    <p><strong>Leticia Lima</strong></p>
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/fotos-gratis/jovem-medico-bonito-em-uma-tunica-medica-com-estetoscopio_1303-17818.jpg?w=2000"
                        class="rounded-circle object-fit-cover" width="150" height="150" alt="">
                    <p class="fst-italic fs-3"><i class="fas fa-quote-left fa-2x"></i> oportunidade de utilizar um
                        monitor
                        cardíaco portátil durante uma estadia no hospital. Fiquei extremamente impressionado com a
                        eficácia e a utilidade desse equipamento médico. <i class="fas fa-quote-right fa-2x"></i>
                    </p>
                    <p>12 de junho 2023</p>
                    <p><strong>Leticia Lima</strong></p>
                </div>
            </div>
        </div>


    </div>
</section>