<nav class="navbar navbar-expand-lg bg-light" style="height: 70px;">
    <div class="container-fluid bg-light">
        <a class="navbar-brand" href="/">EmpresaABC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
				<button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
			</form>
			{% if user.is_authenticated %}
            <button class="btn btn-warning mx-2" type="submit"  onclick="location.href='{% url 'painel' %}'">
                <i class="fas fa-cog"></i></button>
			<span class="p-2">
                <a class="nav-link" href="{% url 'perfil' user.username %}">
                    <i class="fas fa-user mx-2"></i>{{user.first_name}} {{user.last_name}}
                </a>
            </span>
			<button class="btn btn-danger" data-bs-toggle="modal" href="#logoutModal">Logout</button>
			{% else %}
			<button class="btn btn-primary mx-2" onclick="location.href='{% url 'login' %}'">Entrar</button>
			<button class="btn btn-warning" onclick="location.href='{% url 'register' %}'">Cadastrar-se</button>
			{% endif %}
        </div>
    </div>
</nav>