{% extends 'base_auth.html' %}
{% block title %}Criar Conta{% endblock %}
{% block content_auth %}
<form class="row" method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <h4>Criar uma conta</h4> 
	{% for field in form %}
	{% if field == form.email %}
	<div class="col-md-12">
		<div class="mt-3">
		{{ field.label_tag }}
		{{ field }}
		</div>
	</div>
	{% endif %}
	{% if not field == form.email %}
	<div class="col-md-6">
		<div class="mt-3">
		{{ field.label_tag }}
		{{ field }}
		</div>
	</div>
	{% endif %}
	{% endfor %}
    <button class="btn btn-primary mt-3" type="submit">Registrar</button>
    <div class="mt-3">
        <span><a class="text-reset" href="{% url 'login' %}">Fazer Login</a></span>
    </div>  
</form>  
{% endblock %}